{% extends 'student_template/base_template.html' %}

{% block page_user %}
<h4 style="margin-left: 10px;margin-top: 5px;">{{ student.admin.first_name }}   {{ student.admin.last_name }} /</h4>
<h5 style="margin-left: 10px;margin-top: 5px;"><strong>{{ student.rollnumber }}</strong></h5> 
{% endblock page_user %}

{% block page_title %}
        
{% endblock page_title %}
{% block main_content %}

{% load static %}
    <div class="schedule-container">
        <h2>Class Schedule for {{ student.admin.first_name }}   {{ student.admin.last_name }} ({{ student.rollnumber }})</h2>
      
     
        <table class="detailed-schedule">
                <thead>
                    <tr>
                    <th>Time</th>
                    {% for day in days_of_week %}
                        <th>{{ day }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for time_slot in time_slots %}
                    <tr>
                        <td>{{ time_slot.start|time:"H:i" }} - {{ time_slot.end|time:"H:i" }}</td>
                        
                        {% for day in days_of_week %}
                        <td>
                            {% for course in registered_courses %}
                            {% if day in course.days and time_slot.start == course.start_time %}
                                <div class="course-block">
                                <strong>{{ course.course_code }}</strong><br>
                                {{ course.course_name }}<br>
                                {{ course.instructor }}<br>
                                {{ course.classroom }}<br>
                                {{ course.start_time }}<br>
                                {{ course.days }}<br>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    
 {% endblock main_content %}
 <script>  
// <!--  <div class="schedule-actions">
//             <a href="{% url 'generate_pdf' student.student_id %}" class="btn">Download as PDF</a>
//             <a href="{% url 'index' %}" class="btn">Return to Registration</a>
//         </div> -->
        </script>  